.nav {
    grid-area: nav;
    background-color: #457945;
}

.item {
    list-style-type: none;
    color: white;
}

.item.active {
    color: #ccb717;
}

.item a {
    text-decoration: none;
    color: inherit;
}
